@charset "UTF-8";
div.racesTable h3{
    text-align: center;
    text-shadow: darkcyan 13px 0px 3px;
}
table{
    border:5px inset royalblue;
    border-radius:3%;
    box-shadow: rgba(24, 27, 119, 1) 0px 0px 10px 8px;
    width:100%;
}
thead, tbody{
    text-align:left;
}
tbody th{
    text-align:center;
    border-right: 5px solid black;
}
thead th:first-of-type{
    text-align:center;
    color:mediumslateblue;
    font-size: large;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}
tbody tr td#evil{
    color:darkred;
}
tbody tr td#neutral{
    color:rgb(58, 58, 58);
}
tbody tr td#good{
    color:darkslateblue;
}