@charset "UTF-8";

div.racesTable thead.traits th:first-of-type{
    background-color: rgba(138, 43, 226,5);
    border-radius:5%;
}
div.racesTable h3{
    text-align: center;
    text-shadow: darkcyan 13px 0px 3px;
}
table{
    border:5px inset royalblue;
    border-radius:3%;
    box-shadow: rgba(24, 27, 119, 1) 0px 0px 10px 8px;
    width:100%;
}
 thead th{
    float: left;
    margin-left: 30px;
    padding-bottom:7px;
}
td{
    text-align:center;
    display:block;
}
tbody{
    display:inline-table;
}
