/* Html and Body Styles */
html {
    background-color: purple;
    align-items: center;
}

body {
    background-color: orange;
    margin-left: 250px;
    margin-right: 250px;
}

/* Header Styles */

header h1 {
    color: white;
    text-align: center;
}

header nav {
    background-color: blue;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin: auto;
}

header nav ul li a {
    text-decoration: none;
    width: auto;
    color: violet;
}

header nav ul li a:hover {
    background-color: black;
}

/* Section Styles */