div.MM_ul_parts, footer, ul, li, a {
    display: none;
}

html.nomorebackground {
    background-image: none;
}

img {
    border: 2px solid black;
    display: block;
    margin: auto auto;
    width: 65%;
}

table {
    align-items: center;
    justify-content: center;
}