div.MM_ul_parts {
    display: none;
}

html.nomorebackground {
    background-image: none;
}

img {
    border: 2px solid black;
    display: block;
    margin: auto auto;
    width: 65%;
}

table {
    align-items: center;
    justify-content: center;
}
th, td {
    white-space: normal;
}

div.big_table table {
    border-collapse: collapse;
    border-spacing: 10px;
    white-space: normal;
    word-wrap: break-word;
}

footer {
    border-collapse: collapse;
}

body {
    border-collapse: collapse;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}