@charset "UTF-8";
/* Small Changes*/


/* This is cool transition with the link */
nav.MM_ul_parts ul li a {
    color: paleturquoise;
    transition: color 0.5s ease-in 0.5s;
}

nav.MM_ul_parts ul li a:hover {
    color: white;
}

/* Navbar */
nav.MM_ul_parts ul {
    padding: 0px;
    margin: 0px;
}

nav.MM_ul_parts ul li {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

nav.MM_ul_parts ul li a {
    display: block;
    text-align: center;
}

nav.MM_ul_parts ul li ul.dropdown li {
    display: block;
}
nav.MM_ul_parts ul li ul.dropdown {
    width: 100%;
    position: absolute;
    display: none;
}

nav.MM_ul_parts ul li a:hover {
    background-color: none;
}

nav.MM_ul_parts ul li:hover ul.dropdown {
    display: block;
    background: url('../space.jpg');
}

/* Footer Styles */
footer {
    float: bottom;
}

/* Grid */


/* Flex */

body {
    -webkit-flex: 2 1 480px;
    flex: 2 1 480px;
  }

  /* Block Quotes */
  blockquote {
    border: none;
    display: block;
    quotes: "\201C" "\201D";
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background: url('../space.jpg');
    color: white;
    float: middle;
  }

  blockquote:before {
    content: open-quote;
    font-weight: bold;
    color: white;
    align-items: left;
  }
  
  blockquote:after {
    content: close-quote;
    font-weight: bold;
    color: white;
  }

  blockquote p {
    display: inline;
  }

  h1 {
    text-align: center;
    padding-left: 100px;
    color: paleturquoise;
  }

  body {
    min-width: 728px;
  }
  footer {
    background: url('../space.jpg');
    border-radius: 10px;
  }

  h3#footerh3 {
        vertical-align: middle;
        text-align: center;
        color: paleturquoise;
  }

  div.MM_ul_parts ul li a:visited {
    color: black;
  }

/*Form layout */
div.formRow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: fit-content;
  height: fit-content
}

label, input {
  display: block;
}

form#survey > fieldset {
  border-radius: 10px;
}
/* Button */
div#button {
  text-align: center;
  width: 100%;
}

input[type='submit'] {
  font-size: 1.2em;
  padding: 5px;
  margin: 15px;
}