html {
    background: url('DMG_background.jpg') center center / 100% 100% no-repeat fixed content-box content-box;
}

body {
    background-color: darkcyan;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:30px
}

a {
    text-decoration:none;
}

h1 {
    margin-left: 10px
}

h2 {
    margin-left: 15px;
}

h3 {
    margin-left: 20px;
}

body > nav {
    margin-bottom: -20px;
}

body > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body > nav > ul > li {
    list-style: none;
}

body > nav > ul > li > a {
    text-decoration: none;
}

body header {
    background: url('../space.jpg')
}

body header h1 {
    color: rebeccapurple;
    margin-left: 250px;
    margin-right: 250px;
}

body header h1 a {
    text-decoration: none;
}

body header nav {
    margin-right: 30px;
}

body header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;   

}

body header nav ul li {
    list-style: none;
}

body header nav ul li a {
    text-decoration: none;
    color: paleturquoise;
}

body section div.introduction p {
    margin-bottom: -15px;
}

body section div.the_dungeon_master {
    margin-top: 30px;
}

body section div.the_dungeon_master h2 {
    margin-bottom: -15px;
}

body section div.the_dungeon_master p {
    margin-bottom: -15px;
}

body section div.use_book h3 {
    margin-top: 20px;
}

body section div.use_book p {
    margin-bottom: -15px;
}