@charset "UTF-8";
/* Small Changes*/


/* This is cool transition with the link */
nav.MM_ul_parts ul li a {
    color: paleturquoise;
    transition: color 0.5s ease-in 0.5s;
}

nav.MM_ul_parts ul li a:hover {
    color: white;
}

/* Navbar */
nav.MM_ul_parts ul {
    padding: 0px;
    margin: 0px;
}
nav.MM_ul_parts ul li {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

nav.MM_ul_parts ul li a {
    display: block;
    text-align: center;
}

nav.MM_ul_parts ul li ul.dropdown li {
    display: block;
}
nav.MM_ul_parts ul li ul.dropdown {
    width: 100%;
    position: absolute;
    display: none;
}

nav.MM_ul_parts ul li a:hover {
    background-color: none;
}

nav.MM_ul_parts ul li:hover ul.dropdown {
    display: block;
    background: url('space.jpg');
}

/* Footer Styles */


